<main id="main" class="main">
  <div class="pagetitle">
    <h1>Mettre A jour</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item" hidden><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item" hidden>Tables</li>
        <li class="breadcrumb-item active" hidden>Morasse budgétaire</li>
      </ol>
    </nav>
  </div>

  <form [formGroup]="myForm" >
    <div class="card mb-3">
      <div class="card-body">
        <div class="row g-3">
          <div class="col-md-6">
            <h1 class="mb-3">Programme</h1>
            <div class="mb-3">
              <label for="programmes" class="form-label">Select Programme</label>
              <!-- <select id="programmes" formControlName="programme_id" class="form-select">

                <option *ngFor="let programme of programmes" [value]="programme.id">{{ programme.nomprog }}</option> -->
                <select id="programmes" formControlName="programme_id" class="form-select" (change)="onProgrammeSelected($event)">
                  <option *ngFor="let programme of programmes" [value]="programme.id">{{ programme.nomprog }}</option>

              </select>
            </div>
          </div>

          <!-- Add the formGroup directive here -->
          <div class="col-md-6">
            <h1 class="mb-3">Initiative</h1>
            <div class="mb-3"   >
              <label for="intiveOptions" class="form-label">Select Initiative</label>
              <select
                id="intiveOptions"
                formControlName="selectedId"
                name="selectedId"
                class="form-select"
                (change)="onInitiativeSelected()"
              >
                <!-- Check if projet array has valid data and is being looped correctly -->
                <option *ngFor="let option of intiveOptions" [value]="option.id">{{ option.nom }}</option>
              </select>
            </div>
          </div>



        </div>
      </div>
    </div>
  </form>


  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <ul class="nav">
            <li class="nav-item"  [ngClass]="{'active': !showCaracteristiquesForm}">
              <span class="nav-link active" (click)="showCaracteristiquesForm = false">Caractéristiques</span>
            </li>
            <li class="nav-item2" [ngClass]="{'active-link': showCaracteristiquesForm}">
              <span class="nav-link" (click)="showCaracteristiquesForm = true" >Budgets</span>
            </li>
          </ul>
          <div class="card-body">


            <div *ngIf="!showCaracteristiquesForm">

              <!-- <div class="row ">
                  <div class="col-md-6">
                    <div class="initiative">
                      <label class="">initiative</label>
                      <input class="form-control" type="text" id="nom" formControlName="nom"  />


                    </div>

                  </div>


                  <div class="col-md-4">
                    <div class="initiative">
                      <label for="programmetOptions" class="form-label">Programme</label>
                      <select id="programmetOptions" formControlName="programme_id" class="form-select">
                        <option value="" disabled>Select an option</option>
                        <option *ngFor="let option of programmetOptions" [value]="option.id">{{ option.nomprog }}</option>
                      </select>
                    </div>
                  </div>
                </div> -->



                <form [formGroup]="projetForm" (ngSubmit)="modifiercarac()">



                  


                  <div class="row mt-4">
                    <div class="col-md-3">
                      <div class="lead">
                        <label for="montantOption">Lead</label>
                        <select id="leads" formControlName="lead_id" class="form-control"  [(ngModel)]="selectedEntite.lead_id"
                        (change)="selected($event)" >
                          <option value="">Select an option</option>
                          <option *ngFor="let option of leads"   [value]="option.id">{{ option.nomLe }}</option>
                        </select>
                      </div>
                    </div>



                    <div class="col-md-3">
                      <div class="lead">
                        <label for="enjeuxOptions">Enjeux</label>
                        <select
                          id="enjeuxOptions"
                          formControlName="enjeux_id"
                          class="form-control"
                          [(ngModel)]="selectedEntite.enjeux_id"
                          (change)="onEnjeuxSelected($event)"
                        >
                          <option value="" disabled>Select an option</option>
                          <option *ngFor="let option of Enjeuxs" [value]="option.id">{{ option.nomEn }}</option> <!-- Updated [value] attribute -->
                        </select>
                      </div>
                    </div>



                    <div class="col-md-3">
                      <div class="lead">
                        <label for="natureOptions">Nature programme</label>
                        <select id="natureOptions" formControlName="nature_programme_id" class="form-control"
                        [(ngModel)]="selectedEntite.nature_programme_id"
                          (change)="natureSelected($event)">
                          <option value="" disabled>Select an option</option>
                          <option *ngFor="let option of natureOptions" [value]="option.id">{{ option.nomNt }}</option>
                        </select>
                      </div>
                    </div>



                    <div class="col-md-3">
                      <div class="lead">
                        <label for="Typeagiles">Type Agile</label>
                        <select id="Typeagiles" formControlName="type_agile_id" class="form-control">
                          <option value="" disabled>Select an option</option>
                          <option *ngFor="let option of Typeagiles"  [value]="option.id">{{ option.nom }}</option>
                        </select>
                      </div>
                    </div>

                  </div>


                  <div class="row">
                    <div class="col-md-4">
                      <div class="lead">
                        <label for="Priorites">Priorite</label>
                        <select id="priorite_id" formControlName="priorite_id" class="form-control">
                          <option value="" disabled>Select an option</option>
                          <option *ngFor="let option of Priorites"  [value]="option.id">{{ option.nomPr }}</option>
                        </select>

                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="lead">
                        <label class="">Année</label>
                        <input class="form-control" type="text" id="Année" formControlName="Année" />
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="lead">
                        <label class="">Wave n°</label>
                        <input class="form-control" type="text" id="wave" formControlName="wave" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="lead">
                        <label class="form-label">Réf.Sciforma</label>
                        <input class="form-control" type="text" id="ref_sciforma" formControlName="ref_sciforma"
                       >
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="lead">
                        <label class="form-label" for="investisementOptions">Type investisement</label>
                        <select id="investisementOptions" formControlName="type_investisement_id" class="form-select">
                          <option value="" disabled selected>Select an option</option>
                          <option *ngFor="let option of investisementOptions" [value]="option.id">{{ option.nominvestisement }}</option>
                        </select>
                      </div>
                    </div>


                    <!-- <div class="col-md-6">
                      <div class="lead">
                        <label class="form-label">Type investisement</label>

                        <select  id="type_investisement_id" formControlName="type_investisement_id" class="form-control">
                          <option >Select an option</option>
                          <option *ngFor="let option of investisements"   [value]="option.id">{{ option.nominvestisement }}</option>
                        </select>
                      </div>
                    </div> -->
                  </div>
                  <div class="row">

                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-5">
                          <div class="lead">
                            <label class="form-label">Date Lancement</label>
                            <div>
                              <input class="form-control" type="text" id="date_lancement" formControlName="date_lancement" >
                            </div>
                          </div>
                        </div>

                        <div class="col-md-5">
                          <div class="lead">
                            <label class="form-label">Date Cloture</label>
                            <div>
                              <input class="form-control" type="text" id="date_cloture" formControlName="date_cloture" >
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                          <div class="lead">
                            <label class="form-label">Date Copro#1</label>
                            <div>
                              <input class="form-control" type="text" id="copro_1" formControlName="copro_1"  >
                            </div>
                          </div>
                        </div>

                        <div class="col-md-5">
                          <div class="lead">
                            <label class="form-label">Date Copro#2:</label>
                            <div>
                              <input class="form-control" type="text" id="copro_2" formControlName="copro_2"   >
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>

                    <div class="col-md-6">
                      <div class="row">
                        <div class="mb-10">
                          <label class="form-label fw-bold">Member Type:</label>
                          <div class="contenue-list">
                            <div class="list-checkbox">
                              <ul>
                                <li>
                                  <input class="form-check-input" type="checkbox" id="initiative_anne_en_cours"
                                    formControlName="initiative_anne_en_cours" />
                                  <span class="form-check-label">Nouvelle initiative</span>
                                </li>
                                <li>
                                  <input class="form-check-input" type="checkbox" id="filiale" formControlName="filiale" />
                                  <span class="form-check-label">Fillale</span>
                                </li>
                                <li>
                                  <input class="form-check-input" type="checkbox" id="top_15" formControlName="top_15"  />
                                  <span class="form-check-label">Data</span>
                                </li>
                                <li>
                                  <input class="form-check-input" type="checkbox" value="4" id="hors_feuille_de_route "
                                    formControlName="hors_feuille_de_route " readonly/>
                                  <span class="form-check-label">Hors Feuille de route</span>
                                </li>

                                <li>
                                  <input class="form-check-input" type="checkbox" value="5"
                                    id="reconduction_annee_prochaine" formControlName="reconduction_annee_prochaine" />
                                  <span class="form-check-label"> A mettre à jour</span>
                                </li>
                              </ul>
                            </div>
                            <div class="list-checkbox">
                              <ul>
                                <li>
                                  <input class="form-check-input" type="checkbox" id="urban_sociale_techno"
                                    formControlName="urban_sociale_techno"  readonly/>
                                  <span class="form-check-label">Urban Socle Techno</span>
                                </li>
                                <li>
                                  <input class="form-check-input" type="checkbox" id="sdi" formControlName="sdi" />
                                  <span class="form-check-label">ope</span>
                                </li>
                                <li>
                                  <input class="form-check-input" type="checkbox" id="transverse"
                                    formControlName="transverse"  readonly/>
                                  <span class="form-check-label">Transverse</span>
                                </li>
                                <li>
                                  <input class="form-check-input" type="checkbox" id="transverse"
                                    formControlName="transverse" readonly />
                                  <span class="form-check-label">Dématériallisation</span>
                                </li>
                                <li>
                                  <input class="form-check-input" type="checkbox" id="Digital" formControlName="Digital"  />
                                  <span class="form-check-label">Digital</span>
                                </li>
                              </ul>
                            </div>

                          </div>

                        </div>
                      </div>
                    </div>


                    <div class="form-outline w-50 mb-4">
                      <textarea class="form-control" id="description" formControlName="description" rows="3"
                      readonly ></textarea>

                    </div>

                    <div class="form-outline w-50 mb-4">
                      <textarea class="form-control" id="textAreaExample5" rows="3" id="actions"
                        formControlName="actions" readonly></textarea>

                    </div>












                  </div>

                  <button type="button" class="btn btn-primary" (click)="updateEnjeux()">Modifier</button>


                </form>

            </div>
            <div *ngIf="showCaracteristiquesForm" class="section">





              <h1>2.1. Budget J/h : </h1>
              <div  class="d-flex justify-content-end mb-3">
                <div class="dt-buttons btn-group flex-wrap">
                  <button class="btn buttons-excel buttons-html5 me-2" type="button" data-bs-toggle="modal"
                    data-bs-target="#verticalycenteredBJH" title="Import">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAMJJREFUSEvdlE0KwkAMRl/PIQjShb2Nl3HjDfRCPYib7oqC91AqDgxpyc+0peBsJ/le8mUmFSufamV9NMAJuAJNsIgOOAPtkKcBXsAuKJ7Ce6C2AO9C8ZT2LV7rYFNAKkwrYlYHRYBUjTsZCHVgAaw/I2EjizYH5K/WbWPettXBfwE8nzw8ZI/oyEZtBk9gH1X9xT+Ag9xFcsjDur4BxyDkDlym1rUEBHWnwzWLFgeUeq6ukPyy1HM3YBFLpIi1IWdDPx8jLBkZXJ+qAAAAAElFTkSuQmCC"
                    alt="Import">
                  </button>
                  </div>
                  </div>
              <div class="row Budget  ">

    <span class="col-md-2" *ngFor="let item of fetchedEntites">
      <div class="Budgets" *ngIf="item.type != 'forfait' " >
        <label class="CORPO">{{ item?.nom }}</label>
        <div class="card-copro">
          <ng-container *ngIf="item.editMode; else cardContent">
            <form [formGroup]="updateForm" (ngSubmit)="updateEntite(item)">
              <ul *ngIf="item.type === 'EI'">
                <li>
                  <span class="form-check-label">Interne</span>
                  <input class="form-control" type="text" formControlName="interne" />
                </li>
                <li>
                  <span class="form-check-label">Externe</span>
                  <input class="form-control" type="text" formControlName="externe" />
                </li>
              </ul>
              <ul *ngIf="item.type === 'regie'">
                <li>
                  <span class="form-check-label">Regie</span>
                  <input class="form-control" type="text" formControlName="regie" />
                </li>
              </ul>
              <button type="submit" class="btn btn-primary">Update</button>
              <button (click)="cancelEditMode(item)" class="btn btn-danger">Cancel</button>
            </form>
          </ng-container>
          <ng-template #cardContent>
            <ul *ngIf="item.type === 'EI'">
              <li>
                <span class="form-check-label">Interne</span>
                {{ item.interne }}
              </li>
              <li>
                <span class="form-check-label">Externe</span>
                {{ item.externe }}
              </li>
            </ul>
            <ul *ngIf="item.type === 'regie'">
              <li>
                <span class="form-check-label">Regie</span>
                {{ item.regie }}
              </li>
            </ul>
            <div class="text-center"> <!-- Add text-center class here -->

            <button (click)="toggleEditMode(item)" class="btn btn-primary">Edit</button>
            <button (click)="deleteEntite(item)" class="btn btn-danger">Delete</button>

          </div>
          </ng-template>
        </div>
      </div>
    </span>

    <!-- <div class="col-md-2" *ngFor="let budgetItem of budgetsOfOneEntite">
      <ng-container >

      <div class="Budgets"  *ngIf="budgetItem.type != 'forfait' ">
          <label class="CORPO"  >{{ budgetItem.nom }}</label>

          <div class="card-copro">
            <ul *ngIf="budgetItem.type === 'EI'">
              <li>
                <span class="form-check-label">Interneeeeee:</span>
                <input class="form-control" type="text" id="width-input" [value]="budgetItem.interne" />
                <input class="form-control" type="text" id="width-input" [value]="budgetItem.TJM_interne" hidden/>
              </li>
              <li>
                <span class="form-check-label">Externe:</span>
                <input class="form-control" type="text" id="width-input" [value]="budgetItem.externe" />
              </li>
            </ul>
            <ul *ngIf="budgetItem.type === 'regie'" >
              <li>
                <span class="form-check-label">regie</span>
                <input class="form-control" type="text" id="width-input" [value]="budgetItem.regie" />
              </li>
            </ul>

          </div>

        </div>
      </ng-container>
    </div> -->






              </div>


              <h2>2.2. Budget CTB : </h2>

<!--
              <div  class="flex-container">
                <div class="lead2" >
                  <div class="col-md-4" >
                    <label class="Régie">Régie :</label>
                    <div>
                      <input class="form-control" type="text"  [(ngModel)]="totalEntiteForProjet"  readonly />
                    </div>
                    <label class="KMAD">KMAD</label>
                  </div>
                </div>

                <span  *ngFor="let item of fetchedEntites">
                  <div class="lead2">
                    <ng-container *ngIf="item.type === 'regie'">
                      <div  class="col-md-4" >
                        <label class="Régie">Contrib &{{item.nom}} :</label>
                        <div>
                          <input class="form-control" type="text"  value="{{ item.regie * item.TJM_regie }}"  readonly />
                        </div>
                        <label class="KMAD">KMAD</label>
                      </div>

                    </ng-container>
                  </div>

                </span>

                <span  *ngFor="let item of fetchedEntites">
                  <div class="lead2">
                    <ng-container *ngIf="item.type === 'forfait'">
                      <div class="col-md-4" >
                        <label class="Régie">{{ item.nom }}</label>
                        <div>
                          <input class="form-control" type="text"  [value]="item.forfait"  placeholder="0" readonly />
                        </div>
                        <label class="KMAD">KMAD</label>
                      </div>

                    </ng-container>
                  </div>

                </span>


              </div> -->




              <div class="">
                <span  class="lead2">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="d-flex align-items-center">
                      <label class="Régie">Régie :</label>
                      <div>
                        <input class="form-control" type="text"   [(ngModel)]="totalEntiteForProjet" readonly />
                      </div>
                      <label class="KMAD">KMAD</label>
                    </div>
                    </div>
                    <ng-container  *ngFor="let item of fetchedEntites">
                        <ng-container *ngIf="item.type === 'regie'">
                          <div  class="col-md-4" >
                            <div class="d-flex align-items-center">
                              <label class="Régie">Contrib &{{item.nom}} :</label>
                              <div>
                                <input class="form-control mb-3" type="text"  value="{{ item.regie * item.TJM_regie }}"  readonly />
                              </div>
                              <label class="KMAD">KMAD</label>

                            </div>
                          </div>

                        </ng-container>


                    </ng-container>
                    <ng-container  *ngFor="let item of fetchedEntites">

                        <ng-container *ngIf="item.type === 'forfait'">
                          <div class="col-md-4" >
                            <div class="d-flex align-items-center">
                            <label class="Régie">{{ item.nom }}</label>
                            <div>
                              <!-- formControlName="contribValue" -->
                              <input class="form-control" type="text"  [value]="item.forfait"  placeholder="0" readonly />
                            </div>
                            <label class="KMAD">KMAD</label>
                          </div>
                        </div>
                        </ng-container>


                    </ng-container>

                  </div>
                </span>






              </div>


              <h3>2.3. Commentaire sur la répartition budgétaire : </h3>


              <div class="row  ">

                <div class=" col-md-10 ">


                  <div class="form-group green-border-focus">

                    <textarea class="form-control" id="exampleFormControlTextarea5" rows="3"></textarea>
                  </div>

                </div>



              </div>




              <div class="col-md-6">
                <div class="TOTAL">
                  <label class="Régie">CTB  (Hors Masse salariale & Hors SGABS) : </label>
                  <div>
                    <input class="form-control" type="text"[value]="totalEntiteForProjet+total "     placeholder="0" readonly />
                  </div>
                  <label class="KMAD">KMAD</label>
                </div>


                <div class="TOTAL">
                  <label class="Régie">CTB  (Hors Masse salariale & yc SGABS) : </label>
                  <div>
                    <input class="form-control" type="text" [value]="totalRegieTJMRegie+totalEntiteForProjet+total"   placeholder="0" readonly />
                  </div>
                  <label class="KMAD">KMAD</label>
                </div>
              </div>


              <button type="button" class="btn btn-primary" (click)="navigateToMettreJour()">Modifier</button>


            </div>





            <!-- <div class="pagination-container ">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div> -->

          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<div class="modal fade" id="verticalycenteredBJH" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New solition user</h5>

        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: msFilter"><path type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" d="M20 2H4c-1.103 0-2 .894-2 1.992v12.016C2 17.106 2.897 18 4 18h3v4l6.351-4H20c1.103 0 2-.894 2-1.992V3.992A1.998 1.998 0 0 0 20 2zm-3.293 11.293-1.414 1.414L12 11.414l-3.293 3.293-1.414-1.414L10.586 10 7.293 6.707l1.414-1.414L12 8.586l3.293-3.293 1.414 1.414L13.414 10l3.293 3.293z"></path></svg>
      </div>
      <div class="modal-body text-center">
        <div class="drop-container" >


          <form  enctype="multipart/form-data"  [formGroup]="newone" >
            <div>
              <label>Nom Solition</label>
              <select class="dropdown-solition mb-2" id="budgets" (change)="onSolutionSelect($event)">
                <option  value="">Select solition</option>
                <option  *ngFor="let option of budgets" [value]="option.id">{{ option.nom }}</option>
              </select>
            </div>

            <div *ngIf="receivedData" >
              <ng-container *ngIf="getone?.type === 'EI'" >
                <div class="popup_solition">
                <input type="text"  class="form-control mb-2" formControlName="interne" [value]="getone?.interne" placeholder="interne">


                <input  class="form-control mb-2" type="text" formControlName="externe" [value]="getone?.externe" placeholder="externe">
              </div>
              </ng-container>
              <ng-container *ngIf="getone?.type === 'regie'">
                <div class="popup_solition">
                <input type="text" formControlName="regie" [value]="getone?.regie" placeholder="regie">
              </div>
              </ng-container>
              <ng-container *ngIf="getone?.type === 'forfait'">
                <div class="popup_solition">
                <input type="text" formControlName="forfait" [value]="getone?.forfait" placeholder="forfait">
              </div>
              </ng-container>
            </div>



          </form>
      </div>
      <div class="modal-footer">


        <button class="btn btn-primary" aria-label="Close" type="submit" (click)="onUpdatepopupadmin()"  data-bs-dismiss="modal">
          Enregistrer
        </button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="clearPopupData()">Cancel</button>
      </div>
    </div>
  </div>
</div>
</div>
