<div class="row">
  <div class="col-md-6">
    <div class="card h-100">
      <div class="card-body h-100 d-flex flex-column">
        <h5 class="card-title">Budget <span>/Département</span></h5>
        <canvas #myChart style="max-height: 400px;"></canvas>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card table-card h-100">
      <div class="card-body h-100 d-flex flex-column">
        <h5 class="card-title">Budget Table</h5>
        <table class="table table-bordered custom-table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Département</th>
              <th scope="col">Total Budget</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of legendData">
              <td>
                <div [style.background-color]="item.backgroundColor" style="width: 30px; height: 30px; font-size: 14px; color: white; display: flex; align-items: center; justify-content: center;">
                  <h6>{{ item.codeDprt }}</h6>
                </div>
              </td>

              <td>{{ item.nomDprt }}</td>
              <td>{{ item.SUMTOTAL }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
